.container {
  height: 70vh;
  .map {
    height: 100%;
  }

  %btn-shared {
    padding: 0.375rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #bcccdc;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;

    .btn {
      display: inline-block;
      cursor: pointer;
      color: #2cb1bc;
      border: transparent;
      background: transparent;
      letter-spacing: 1px;
    }

    .btn-map {
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      background: #2cb1bc;
      color: white;
      border: transparent;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -1px rgb(0 0 0 / 6%);
    }

    .light {
      background: #f3f3f3;
      color: #333;
    }

    .autocomplete {
      display: flex;

      .search {
        @extend %btn-shared;
        width: 200px;
      }

      .directions {
        @extend %btn-shared;
        display: flex;
        gap: 0.5rem;
        background: #2caeba;
        color: white;
        cursor: pointer;
      }
    }
    .markers-btn {
      display: flex;
      gap: 1rem;
    }

    .map-style-btn {
      display: flex;
      gap: 0.5rem;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .route-details {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
}
