<section class="section">
  <div class="btn-container">
    <button type="button" routerLink="/" class="btn">Home</button>
    <button type="button" routerLink="/map" class="btn">Map</button>
  </div>
  <div class="wrapper" [ngClass]="{ column: !authService.authUser() }">
    <div class="title">
      <h1>Football Table <fa-icon [icon]="futbol"></fa-icon></h1>
      <div class="underline"></div>
    </div>
    <app-league-favorite-teams
      *ngIf="authService.authUser()"
    ></app-league-favorite-teams>
  </div>
  <router-outlet></router-outlet>
</section>
