<div class="wrapper">
  <h4 *ngIf="leaguesService.favoriteTeams.length; else fillFavorite">
    Your favorite teams (5 max):
  </h4>
  <ng-template #fillFavorite>
    <h4>Click on any team to add it to your <span>favorites</span></h4>
  </ng-template>
  <div class="teams">
    <div
      class="team"
      *ngFor="let team of leaguesService.favoriteTeams; let i = index"
    >
      <!-- <p>
        {{ team.strTeam }}
      </p> -->
      <img [src]="team.strTeamBadge" alt="team" />
      <button
        type="button"
        class="delete"
        title="remove team"
        (click)="removeTeam(i)"
      >
        <fa-icon [icon]="faTrash"></fa-icon> remove
      </button>
    </div>
  </div>
</div>
